enable-pre-post-scripts=true
# 使用淘宝镜像
registry=https://registry.npmmirror.com
# Electron 镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
# 其他二进制文件镜像
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
