@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9% 0.03 285.88);

  --radius: 0.5rem;
}

@layer base {
  * {
    border-color: oklch(from var(--color-foreground) l c h / 0.1);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(9% 0.03 285.88);
    --color-foreground: oklch(98% 0 0);
  }
}
